.header {
  width: 150px;
  flex-shrink: 0;
  padding: 20px;
  display: flex;
  width: 100%;

  h1 {
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      margin-left: 5px;
    }
  }
  nav {
    margin-left: auto;
    display: flex;

    a {
      display: inline-block;
    }

    a:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.brand {
  margin-bottom: 10px;
  text-transform: uppercase;

  margin-bottom: 0;
}
