.header {
  width: 150px;
  flex-shrink: 0;
  padding: 15px 10px;
  display: flex;
  width: 100%;
  align-items: center;

  h1 {
    line-height: 1;

    img {
      transform: translateY(1px);
      flex-shrink: 0;
      width: 32px;
      height: 32px;
    }
  }

  nav {
    margin-left: auto;
    display: flex;

    a {
      color: black;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
    }

    a:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.brand {
  a {
    align-items: center;
    display: flex;
    font-size: 18px;
    text-decoration: none;
  }
}

.orchi {
  color: fuchsia;
}

.dex {
  color: black;
}
