.tabs {
  overflow: hidden;

  nav {
    border-bottom: 1px solid black;
    display: flex;

    button {
      background: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px;
      height: 100%;
      user-select: none;
      transition: 100ms ease background;
      text-transform: uppercase;
      font-size: 14px;
      &:hover:not([disabled]) {
        background: rgba(255, 255, 255, 0.5);
      }

      &[disabled] {
        cursor: not-allowed;
        opacity: 0.25;
      }
    }
  }

  .active {
    box-shadow: inset 0 -5px 0 black;
  }

  .content {
    display: flex;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .contentWrap {
      overflow: hidden;
      padding: 0 10px;
      flex-grow: 1;
    }

    .sideWrap {
      flex-shrink: 0;
    }
  }

  .noPadding {
    padding: 0;
  }

  .count {
    color: gray;
    margin-left: 10px;
  }
}
