.search {
  display: flex;
  margin: 0;
  padding: 0 10px;

  input,
  button {
    font-size: 18px;
    height: 50px;
    border: 1px solid black;
  }

  input {
    appearance: none;
    outline-color: black;
    padding: 0 10px;
    width: 100%;
  }

  button {
    color: white;
    cursor: pointer;
    background: black;
    border-left: none;
    font-size: 14px;
    width: 60px;

    &[disabled] {
      background: white;
      color: #ccc;
    }
  }
}

.advSearchCta {
  padding: 0 15px;
  margin-top: 5px;
  font-size: 85%;
  margin-bottom: 40px;

  a {
    color: gray;
  }
}
