.simple {
  background: none;
  border: none;
  user-select: none;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  color: gray;
  margin-left: auto;
  padding: 0;
}
