.simple {
  background: none;
  border: none;
  user-select: none;
  outline: 0;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  opacity: 0.5;
  margin-left: auto;
  padding: 0;
}
