.button {
  align-self: flex-start;
  background: #f55af5;
  border: none;
  border-radius: 5px;
  color: white !important;
  display: inline-block;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 12px;
  padding: 3px 5px;
  text-decoration: none !important;
  white-space: nowrap;
}
