.pageHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px 0 30px 0;
  justify-content: space-between;

  p {
    margin-top: 10px;
    max-width: 600px;
  }
}

.labelControl {
  text-align: right;
  padding-right: 52px;
  select {
    margin-left: 5px;
  }
}
