.h2 {
  font-size: 24px;
  font-weight: 500;
}

.h3 {
  font-size: 20px;
  font-weight: 500;
}

.support {
  background: rgba(255, 0, 255, 0.05);
  padding: 40px;

  p {
    margin-top: 10px;
    max-width: 600px;
  }
}
