.about {
  article {
    padding: 20px 10px;

    h3 + p {
      margin-top: 10px;
    }

    a {
      text-decoration: underline;
      font-weight: 400;
    }

    p {
      max-width: 600px;
    }

    dt {
      margin-bottom: 10px;
    }

    dt:not(:first-child) {
      margin-top: 40px;
    }

    dd {
      margin: 0;
      max-width: 600px;
    }
  }
}
