.homeHero {
  background: transparent;
  max-width: 600px;
  margin-bottom: 20px;
}

.heroTitle {
  font-size: 30px;
  font-weight: 300;
}

.heroDescription {
  margin-top: 10px;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 800px) {
    display: block;
  }
}

.recent {
  width: 100%;
  margin-top: 40px;
}

.more {
  display: inline-block;
  margin-top: 20px;
  text-decoration: underline;
  font-weight: 400;
}

.aside {
  max-width: 420px;
  margin-top: 40px;
  padding-left: 20px;
  border-left: 5px solid rgba(0, 0, 0, 0.05);

  @media (max-width: 800px) {
    max-width: unset;
    padding: 0;
    padding-top: 40px;
    border: none;
    border-top: 5px solid rgba(0, 0, 0, 0.05);
  }

  .cta {
    display: flex;
    align-items: center;
    padding: 20px;

    p {
      margin-right: 10px;
    }

    figure {
      margin: 0;
    }
  }

  a {
    font-weight: 500;
    text-decoration: underline;
  }

  p {
    margin-top: 10px;
    line-height: 1.5;
  }

  hr {
    background: rgba(0, 0, 0, 0.05);
    height: 1px;
    border: none;
  }
}
