.content {
  display: flex;
  min-height: 100vh;

  > div:first-child {
    flex-grow: 1;
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.sidebar {
  flex-shrink: 0;
  width: 280px;
  border: 2px solid white;
  background: linear-gradient(
    to bottom left,
    rgba(218, 112, 214, 0.125),
    transparent
  );
  align-self: flex-start;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.speciesAncestry {
  * {
    font-size: 12px;
  }
}

.speciesAncestryName {
  font-weight: normal;
  text-decoration: underline;

  * {
    font-size: 14px;
  }
}
