.content {
  display: flex;

  > div:first-child {
    flex-grow: 1;
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.sidebar {
  flex-shrink: 0;
  width: 280px;
  border: 2px solid white;
  border-bottom: 0;
  background: linear-gradient(
    to bottom left,
    /* rgba(218, 112, 214, 0.125),*/ rgba(255, 255, 0, 0.1),
    transparent
  );
  align-self: flex-start;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.speciesAncestry {
  * {
    font-size: 12px;
  }

  padding: 0;

  li {
    padding: 2.5px 0;
  }
}

.speciesAncestryName {
  font-weight: normal;
  text-decoration: underline;

  * {
    font-size: 14px;
  }
}
