// .viz {
//   .vizContainer {
//   }
// }

.nodeLink {
  text-decoration: none !important;

  &:hover {
    .node {
      opacity: 1 !important;
    }
    .name,
    .level {
      background: #16161d;
      color: white;
    }
  }
}

.node {
  font-size: 16px;
  font-family: 'IBM Plex Sans';
  color: white;
  min-height: 108px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.root {
  background: white;
  border: 1px solid black;
  background: linear-gradient(
    to bottom right,
    white 40%,
    rgba(218, 112, 214, 0.33),
    rgba(255, 140, 0, 0.5)
  );

  .name,
  .level {
    color: black;
  }

  .level {
    justify-content: flex-start;
  }
}

.seed {
  background: #444;
}

.pollen {
  background: #777;
}

.name {
  padding: 5px;
  flex-grow: 1;
}

.pill {
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid white;
}

.species {
  background: #ffb000;
  background: #648fff;
}

.primary {
  background: #785ef0;
}

.intergeneric {
  background: #dc267f;
}

.natural {
  background: #fe6100;
}

.level {
  justify-content: flex-end;
  padding-top: 0;

  > *:not(:first-child) {
    margin-left: auto;
  }
}
