.vizList {
  max-width: 400px;
  padding: 15px 0;

  ul {
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    padding: 2.5px 20px;
  }

  div:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
    flex-grow: 1;
  }

  div:nth-child(2) {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }

  meter {
    margin-left: 10px;
    flex-shrink: 0;
    width: 30px;
  }
}

.ancestry {
  padding: 40px 0;
}

.active {
  background: white;

  * {
    color: black !important;
    font-weight: 500;
  }
}
