.vizList {
  max-width: 400px;

  ul {
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;

    & + li {
      margin-top: 5px;
    }
  }

  div:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
    flex-grow: 1;
  }

  div:nth-child(2) {
    margin-left: auto;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }

  meter {
    margin-left: auto;
    flex-shrink: 0;
    width: 30px;
  }
}

.ancestry {
  padding: 40px 0;
}
