.html,
.body {
  margin: 0;
}

.body {
  background: linear-gradient(
    to bottom right,
    white 40%,
    rgba(218, 112, 214, 0.25),
    rgba(255, 140, 0, 0.3)
  );
  background-attachment: fixed;
  font-size: 16px;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
}

.container {
  main {
    width: 100%;
    overflow: hidden;
  }
}

.padded {
  padding: 20px 10px;
  padding-top: 10px;
}

.heading {
  font-size: 24px;
  margin: 0;
}
