.container {
  main {
    width: 100%;
    overflow: hidden;
  }
}

.padded {
  padding: 20px;
  padding-top: 10px;
  background: white;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-size: 24px;
  margin: 0;
}

.section {
  h4 {
    padding: 10px 20px;
    background: linear-gradient(to right, #ccc, transparent);
    border-bottom: 2px solid white;
  }

  .scrollable {
    max-height: 400px;
    overflow-y: auto;

    > * {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.sidebar {
  border-right: 2px solid white;
  background: linear-gradient(to bottom, white, transparent);
}

.footer {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  padding-top: 80px;
  font-size: 10px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
