.container {
  main {
    border: 2px solid white;
    border-top: 0;
    width: 100%;
    overflow: hidden;
  }
}

.padded {
  padding: 20px;
  background: white;
}

.wrap {
  display: flex;
  max-width: 1200px;
  // width: 100%;
  min-height: 100vh; // hmmm
  margin: 0 auto;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.heading {
  font-size: 24px;
  margin: 0;
}
