.pageHeader {
  padding: 10px 10px 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.treemap {
  canvas {
    cursor: pointer;
  }

  p {
    margin-top: 15px;
    max-width: 525px;
    margin-right: 40px;
    font-size: 14px;

    a {
      text-decoration: underline;
    }
  }

  fieldset {
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;

    & + fieldset {
      margin-left: 20px;
    }

    &:last-child {
      flex-grow: 1;
    }
  }
}

.controlWrap {
  margin-top: 15px;
  display: flex;

  label {
    font-size: 12px;
    padding: 2px;
    user-select: none;
  }

  label:not(.rangeLabel) {
    cursor: pointer;
    display: inline-block;
    display: flex;
    align-items: center;
  }

  input {
    cursor: pointer;
    margin: 0;
    margin-right: 5px;
  }

  input[type='range'] {
    display: block;
    width: 138px;
  }
}

.rangeLabel {
  padding: 2.5px 0;
  text-align: right;

  input {
    margin: 0;
    margin-top: 5px;
  }
}

.tooltip {
  font-size: 14px;
  padding: 5px;
  background: white;
  box-shadow: 1px 1px black;
}

.mapWrap {
  min-height: 675px;
  height: calc(100vh - 230px);
  display: flex;
  align-items: center;
  justify-content: center;
}
