.learn {
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.cta {
  padding: 10px 20px 15px 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid black;
  max-width: 350px;
  flex-grow: 1;
  transition: 200ms ease background, 200ms ease box-shadow;

  &:hover {
    background: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }

  figure {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    height: 100px;
  }

  p {
    font-size: 14px;
  }
}
