.search {
  margin-bottom: 60px;
  max-width: 400px;

  > div {
    display: flex;
    align-items: center;
  }

  input[type='search'] {
    appearance: none;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid black;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  button[type='submit'] {
    border: none;
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    background: black;
    color: white;
    cursor: pointer;
  }

  input[type='search'][disabled],
  button[type='submit'][disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.crossIcon {
  font-size: 150%;
  margin: 0 10px;
}
