.quickStats {
  color: gray;
  margin-top: 2.5px;
  margin-top: 5px;
}

.columns {
  display: flex;

  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.genusFacet {
  flex-shrink: 0;
  width: 240px;
  max-width: unset !important;

  border-bottom: 2px solid white;
  background: linear-gradient(
    to bottom right,
    rgba(218, 112, 214, 0.1),
    transparent
  );
  border-left: 2px solid white;
  border-right: 2px solid white;

  max-height: 80vh;
  align-self: flex-start;
  overflow-y: auto;

  * {
    font-size: 14px !important;
  }

  @media (max-width: 850px) {
    max-height: 160px;
    width: 100%;
    max-width: unset;
  }
}

.list {
  padding: 0 20px;
  flex-grow: 1;
}

.sidebar {
  flex-shrink: 0;
  width: 260px;
  border-left: 2px solid white;
  border-right: 2px solid white;

  background: linear-gradient(
    to bottom left,
    /* rgba(218, 112, 214, 0.125),*/ rgba(255, 255, 0, 0.1),
    transparent
  );
  align-self: flex-start;

  @media (max-width: 850px) {
    width: 100%;
  }
}
