.about {
  article {
    padding: 20px 10px;

    a {
      text-decoration: underline;
      // font-weight: 500;
    }

    h3 + p {
      margin-top: 10px;
    }

    p {
      max-width: 600px;
    }

    dd {
      margin: 0;
    }
  }
}
