.parentage {
  color: #3f454e;
  font-size: 80%;

  a {
    color: #3f454e;
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;

    &:hover {
      color: black;
    }
  }
}
