.homeHero {
  background: transparent;
  max-width: 600px;
  margin-bottom: 20px;
}

.heroTitle {
  font-size: 30px;
}

.heroDescription {
  margin-top: 10px;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.columns {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;

  @media (max-width: 800px) {
    display: block;
  }
}

.recent {
  width: 100%;
}

.more {
  display: inline-block;
  margin-top: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.search {
  flex-basis: 50%;
  margin-right: 80px;

  @media (max-width: 800px) {
    margin-right: 0;
  }

  h3 {
    margin-bottom: 30px;
  }
}
