.grex {
  & + .grex {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  > * {
    display: block;
    margin-top: 5px;
    line-height: 1.1;
  }

  &.emphasize {
    background: rgba(255, 0, 255, 0.1);
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
  }
}

.grexHeading {
  padding: 0;

  h2 {
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: 300;

    @media (max-width: 500px) {
      font-size: 28px;
    }
  }
}

.progeny {
  color: black;
  opacity: 0.5;
  font-size: 14px;

  span {
    font-weight: 500;
  }
}
