.data {
  article {
    padding: 20px 10px;

    a {
      text-decoration: underline;
      font-weight: 500;
    }

    p {
      margin-top: 10px;
      max-width: 600px;
      line-height: 1.5;
    }
  }
}
