.quickStats {
  margin-top: 5px;

  strong {
    font-weight: 400;
  }
}

.columns {
  display: flex;

  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.genusFacet {
  flex-shrink: 0;
  width: 240px;
  max-width: unset !important;
  max-height: 80vh;
  align-self: flex-start;
  overflow-y: auto;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.5);

  * {
    font-size: 14px !important;
  }

  @media (max-width: 850px) {
    max-height: 160px;
    width: 100%;
    max-width: unset;
  }
}

.list {
  padding: 0 10px;
  flex-grow: 1;

  @media (max-width: 850px) {
    margin-right: 0;
  }
}

.sidebar {
  flex-shrink: 0;
  width: 260px;
  background: rgba(255, 255, 255, 0.5);
  align-self: flex-start;

  @media (max-width: 850px) {
    width: 100%;
    margin-right: 0;
  }
}
