.box {
  padding: 30px;
  font-size: 14px;
}

.stat {
  border-bottom: 2px solid white;

  > meter {
    margin-top: 10px;
    width: 100%;
  }
}

.title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.statList {
  max-width: 400px;
  padding: 0;

  ul {
    padding: 0;
  }

  li {
    padding: 2.5px 0;
    * {
      font-size: 14px !important;
    }
  }

  div:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
    flex-grow: 1;
  }

  meter {
    margin-left: 10px;
    flex-shrink: 0;
    width: 30px;
  }

  a {
    text-decoration: underline;
  }
}
