.box {
  padding: 20px;
  font-size: 14px;
}

.meter {
  margin-top: 10px;
}

.title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

.statList {
  max-width: 400px;
  padding: 0;

  ul {
    padding: 0;
  }

  li {
    padding: 2.5px 0;
    * {
      font-size: 14px !important;
    }
  }

  div:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
    flex-grow: 1;
  }

  a {
    text-decoration: underline;
  }
}
