html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', Helvetica;
}

body {
  background: #eee;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    white 40%,
    rgba(218, 112, 214, 0.33),
    rgba(255, 140, 0, 0.5)
  );
  background-attachment: fixed;
}

#__next {
  width: 100vw;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

svg text {
  font-family: inherit !important;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#chart_div,
.google-visualization-orgchart-node,
.svg-chart-container {
  transform: rotate(180deg);
}

.google-visualization-orgchart-node {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-family: inherit !important;
  cursor: pointer !important;
  padding: 0px !important;
}

.seed,
.pollen,
.root {
  color: white;
  padding: 5px !important;
  font-size: 16px;
  height: 100%;
  width: 100%;
  background: white;
  font-family: 'IBM Plex Mono', monospace;
  transform: rotate(180deg);
}

.seed.species,
.pollen.species,
.root.species {
  border-top: 10px solid black !important;
}

.root {
  background: orchid;
}

.seed {
  background: #444;
}

.pollen {
  background: #777;
}

path.link {
  stroke: black;
  stroke-width: 2;
}

.google-visualization-orgchart-linenode {
  border-color: rgba(0, 0, 0, 0.5) !important;
}

#chart_div {
  min-width: 800px;
}

.chart-wrap {
  overflow-x: auto;
}

@media (max-width: 800px) {
  #chart_div {
    min-width: 800px;
  }
}
