html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

body {
  padding: 0 10px;
  background: lightblue;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

mark {
  background: rgba(0, 255, 0, 0.25);
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
}

nav {
  text-transform: uppercase;
}

nav a {
  margin-right: 10px;
}

.container header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.container header h1 {
  margin-right: 20px;
  font-size: 120%;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

section {
  padding: 20px 0;
}

section + section {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.container main {
  padding: 20px 0;
}

a {
  color: darkblue;
}

em {
  opacity: 0.7;
}

.parentage a {
  color: purple;
}

.genus {
  font-style: italic;
}

.parentage {
  opacity: 0.5;
}

a.date {
  color: darkcyan;
  font-weight: bold;
}

article {
  padding: 20px 0;
}

article + article {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

article:hover {
  background: rgba(255, 255, 255, 0.1);
}

article .parentage,
article .reg {
  font-size: 80%;
}

article .reg {
  opacity: 0.7;
}

details summary > * {
  display: inline-block;
}
details summary {
  font-weight: bold;
  width: auto;
  cursor: pointer;
  padding: 10px 0;
  user-select: none;
  outline: 0;
}

form {
  display: inline-block;
}

input[type="search"] {
  width: auto;
  margin-right: 10px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background: lightsalmon;
}
button[type="submit"][disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

td,
th {
  padding: 5px 0;
}

th {
  padding-right: 10px;
  text-align: left;
}

table {
  margin-top: 30px;
  font-size: 80%;
  opacity: 0.5;
}

.container > main > div:first-child {
  margin-bottom: 30px;
}

h1 {
  position: relative;
  display: inline-block;
}

sup {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 10px;
  color: gray;
  text-transform: none;
}
