.pills {
  margin-bottom: 2.5px;
}

.pill {
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  text-transform: uppercase;

  &.hypothetical {
    background: black;
  }

  &.intergeneric {
    background: #dc267f;
  }

  &.primary {
    background: #785ef0;
  }

  &.natural {
    background: #fe6100;
  }

  &.species {
    background: #ffb000;
    background: #648fff;
  }
}
