.pills {
  margin-bottom: 2.5px;
}

.pill {
  color: white;
  font-size: 10px;
  padding: 3px 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.interactive {
  cursor: pointer;
}

.hypothetical {
  background: black;
}

.intergeneric {
  background: rgba(239, 133, 180, 1);
}

.primary {
  background: rgba(130, 168, 248, 1);
}

.natural {
  background: rgba(91, 175, 248, 1);
}

.species {
  background: rgba(103, 187, 110, 1);
}

.intergeneric.primary {
  background: linear-gradient(
    to bottom right,
    rgba(239, 133, 180, 1),
    rgba(130, 168, 248, 1)
  );
}

.natural.intergeneric {
  background: linear-gradient(
    to right,
    rgba(239, 133, 180, 1),
    rgba(91, 175, 248, 1)
  );
}
